<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Você foi convidado para participar do grupo {{theme}}</p>
  <p>Clique no link abaixo para acessar o painel do aluno e aceitar o convite</p>
  <p>
    <a href="{{link}}">Verificar e-mail</a>
  </p>
  <p>Se não tem conhecimento sobre o assunto, então descarte esse e-mail.</p>
  <p>
    Obrigado!<br />
    <strong>Equipe SGTG</strong>
  </p>
</div>